In [3]:
import numpy as np  
import matplotlib.pyplot as plt  
import pandas as pd

In [43]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
data  = pd.read_csv('Pokemon.csv') #loading the file

In [5]:
data.head() #checking

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [6]:
data.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [7]:
x = data.iloc[:,5:8].values
y = data.Legendary

In [8]:
x = pd.DataFrame(x) #converting x and y as dataframe because after slicing it was converted in numpy array
y = pd.DataFrame(y)

In [9]:
x.head()

    0    1    2
0  45   49   49
1  60   62   63
2  80   82   83
3  80  100  123
4  39   52   43

In [10]:
y.head()

   Legendary
0      False
1      False
2      False
3      False
4      False

In [11]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(x,y , test_size =0.2)

In [12]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(640, 3)
(640, 1)
(160, 3)
(160, 1)

In [13]:
x.describe()

                0           1           2
count  800.000000  800.000000  800.000000
mean    69.258750   79.001250   73.842500
std     25.534669   32.457366   31.183501
min      1.000000    5.000000    5.000000
25%     50.000000   55.000000   50.000000
50%     65.000000   75.000000   70.000000
75%     80.000000  100.000000   90.000000
max    255.000000  190.000000  230.000000

In [48]:
#we have to scale the features because raw data is spread widely and each datapoint will be measured and it can promote error
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [15]:
X_test[:5]

array([[-0.38066487, -1.07341087, -0.16391844],
       [-1.5596882 , -1.07341087, -0.50818629],
       [-0.61646954, -1.07341087, -0.88375121],
       [ 0.87696   ,  0.74560844,  0.4620231 ],
       [-0.18416099, -0.2245352 , -0.6333746 ]])

In [38]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 7)
classifier.fit(X_train,y_train)

C:\Users\Shubham\Anaconda3.1\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=7, p=2,
           weights='uniform')

In [39]:
y_pred = classifier.predict(X_test)

In [40]:
from sklearn.metrics import classification_report , confusion_matrix
print(confusion_matrix( y_test , y_pred ))
print(classification_report( y_test , y_pred ))

[[147   1]
 [ 10   2]]
              precision    recall  f1-score   support

       False       0.94      0.99      0.96       148
        True       0.67      0.17      0.27        12

   micro avg       0.93      0.93      0.93       160
   macro avg       0.80      0.58      0.62       160
weighted avg       0.92      0.93      0.91       160

In [47]:
from sklearn.metrics import accuracy_score 
error = []
for i in range(1,25):
    knn = KNeighborsClassifier(n_neighbors = i)
    knn.fit(X_train,y_train)
    pred_i = knn.predict(X_test)
    error.append(accuracy_score( y_test,pred_i))
print(error)

[0.9125, 0.925, 0.9375, 0.925, 0.93125, 0.925, 0.93125, 0.93125, 0.93125, 0.925, 0.925, 0.925, 0.925, 0.925, 0.93125, 0.925, 0.925, 0.925, 0.925, 0.925, 0.925, 0.925, 0.925, 0.925]